.container.projects {
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .container.projects h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #fff; 
  }
  
  .card {
    background-color: #343a40; 
    color: #ffffff; 
    width: 18rem;
    border: 1px solid yellow;
    box-shadow: 5px 5px 10px 10px rgba(101, 175, 10, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .card-img-top {
    width: 250px;
    height: 200px;
    border: 2px solid yellow;
    border-radius: 10px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
  }
  
  
  @media (min-width: 576px) {
    .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  
  @media (min-width: 992px) {
    .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  