 .container.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 200px;
  flex-wrap: wrap;
  min-height: 100vh; 
}

.left {
  flex: 1;
  text-align: center;
}

.left h1 {
  font-size: 2em;
}

.home .left {
  background-color: var(--bg-color);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.right .img img {
  max-width: 100%;
  border-radius: 10px;
}

.home .right .img {
  margin-top: 20px; 
}

.home .right .img img {
  height: 270px;
  width: 270px;
  border: 5px solid yellow;
  border-radius: 100%;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes superman {
  0% {
    border-color: blue;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px blue;
  }

  25% {
    border-color: rgb(239, 244, 11);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }

  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }

  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}

@media (max-width: 768px) {
  .container.home {
    flex-direction: column;
    text-align: center;
    min-height: auto; 
    padding: 10px; 
    gap: 20px; 
  }

  .left h1 {
    font-size: 1.5em;
    box-shadow: none; 
  }

  .home .right .img {
    margin-top: 10px; 
  }

  .home .right .img img {
    height: 200px;
    width: 200px;
  }
}
